doctype html
html
  head
    title Book Review App
    link(rel="stylesheet", href="/styles/style.css")
    script(src="/js/main.js")
  body
    .container
      h1 Book List
      .book-list
        each book in books
          .book-card
            h2= book.title
            p Author: #{book.author}
            p Genre: #{book.genre}
            p Published: #{book.year}
            p Pages: #{book.pages}
            .buttons
              a.btn.btn-primary(href=`/addReview/${book.id}`) Add Review
              a.btn.btn-success(href=`/reviews/${book.id}`) Read Reviews
              form.inline-form(action=`/deleteBook/${book.id}` method="post" onsubmit="return confirm('Are you sure?')") 
              a.btn.btn-secondary(href=`/editBook/${book.id}`) Edit Book
              button.btn.btn-danger(data-id=`${book.id}`) Delete
             

      a(href="/newBook" class="btn btn-success") Add New Book

