doctype html
html
  head
    title Book List
    link(rel="stylesheet" href="/styles/style.css")
  body
    h1 Book List
    .container
      each book in books
        .card
          h2= book.title
          p Author: #{book.author}
          p Genre: #{book.genre}
          p Published: #{book.published}
          .buttons
            a(href=`/addReview/${book.id}` class="btn") Add review
            a(href=`/reviews/${book.id}` class="btn") Read reviews
            form(action=`/deleteBook/${book.id}` method="POST" style="display:inline;")
              button(type="submit" class="btn delete") Delete
    a(href="/newBook" class="btn add-book") Add new book
